body{
	background-image: url('nightimg.jpg');
}
*{
	font-family: 'Orbitron', sans-serif;
	/*background-color: black;*/
	
}
#ranking-title{
	text-align:center;
	padding:10px;
	margin:10px 30px;
	color:white;
}	

#leftball{
	position:absolute;
	left:720px;
	top:15px;
}

#rightball{
	position:absolute;
	right:720px;
	 top:15px;
}
#ranking{
	text-align: center;
	padding:10px;
	margin:auto;
	color: white;
	line-height: 50px;
}
#ranking>p{
	color:white;
	text-align:center;
}
#ranking-table{
	position: absolute;
	left:690px;
	text-align: right;


}
 #ranking-table td{
 	width:150px;
 }